@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inria+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-UrKkJiCpsYpf: #7b7b8c;
  --plasmic-token-text: var(--token-UrKkJiCpsYpf);
  --token-uLPkj8KQCden: #11111f;
  --plasmic-token-login-back: var(--token-uLPkj8KQCden);
  --token-Boa9WlBpRY0X: #4267b2;
  --plasmic-token-facebook: var(--token-Boa9WlBpRY0X);
  --token-cIuIPC3wHcAQ: #11111f;
  --plasmic-token-footer-back: var(--token-cIuIPC3wHcAQ);
  --token-HnQ2owz4qJL0: #f8b034;
  --plasmic-token-member-back-yellow: var(--token-HnQ2owz4qJL0);
  --token-ft5BmKhVtbv7: #ec7de2;
  --plasmic-token-pink-def: var(--token-ft5BmKhVtbv7);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(
    .global_unnamedGlobalGroupOfVariants_unnamedVariant
  ) {
  --mixin-VUZuIOXtuPQY_font-family: "Inter", sans-serif;
  --mixin-VUZuIOXtuPQY_font-size: 16px;
  --mixin-VUZuIOXtuPQY_font-weight: 400;
  --mixin-VUZuIOXtuPQY_font-style: normal;
  --mixin-VUZuIOXtuPQY_color: #535353;
  --mixin-VUZuIOXtuPQY_text-align: left;
  --mixin-VUZuIOXtuPQY_text-transform: none;
  --mixin-VUZuIOXtuPQY_line-height: 1.5;
  --mixin-VUZuIOXtuPQY_letter-spacing: normal;
  --mixin-VUZuIOXtuPQY_white-space: pre-wrap;
  --mixin-VUZuIOXtuPQY_user-select: text;
  --mixin-VUZuIOXtuPQY_text-decoration-line: none;
  --mixin-VUZuIOXtuPQY_text-overflow: clip;
  --mixin-caD7klFRTpaa_color: #000000;
  --mixin-caD7klFRTpaa_font-weight: 700;
  --mixin-caD7klFRTpaa_font-size: 64px;
  --mixin-caD7klFRTpaa_line-height: 1;
  --mixin-caD7klFRTpaa_letter-spacing: -1px;
  --mixin-caD7klFRTpaa_white-space: pre-wrap;
  --mixin-7fJcmkWhR_pr_color: #000000;
  --mixin-7fJcmkWhR_pr_font-size: 48px;
  --mixin-7fJcmkWhR_pr_font-weight: 700;
  --mixin-7fJcmkWhR_pr_letter-spacing: -0.5px;
  --mixin-7fJcmkWhR_pr_line-height: 1.1;
  --mixin-7fJcmkWhR_pr_white-space: pre-wrap;
  --mixin-07p_uWZU9mU6_color: #0070f3;
  --mixin-07p_uWZU9mU6_white-space: pre-wrap;
  --mixin-v0qVdwHzZ9pL_color: #000000;
  --mixin-v0qVdwHzZ9pL_font-size: 32px;
  --mixin-v0qVdwHzZ9pL_font-weight: 600;
  --mixin-v0qVdwHzZ9pL_line-height: 1.2;
  --mixin-v0qVdwHzZ9pL_white-space: pre-wrap;
  --mixin-6vv_LhhZ1Qg3_color: #000000;
  --mixin-6vv_LhhZ1Qg3_font-size: 24px;
  --mixin-6vv_LhhZ1Qg3_font-weight: 600;
  --mixin-6vv_LhhZ1Qg3_line-height: 1.3;
  --mixin-6vv_LhhZ1Qg3_white-space: pre-wrap;
  --mixin-3ukB9qUD-PGN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3ukB9qUD-PGN_border-bottom-color: #dddddd;
  --mixin-3ukB9qUD-PGN_border-bottom-style: solid;
  --mixin-3ukB9qUD-PGN_border-bottom-width: 1px;
  --mixin-3ukB9qUD-PGN_border-left-color: #dddddd;
  --mixin-3ukB9qUD-PGN_border-left-style: solid;
  --mixin-3ukB9qUD-PGN_border-left-width: 1px;
  --mixin-3ukB9qUD-PGN_border-right-color: #dddddd;
  --mixin-3ukB9qUD-PGN_border-right-style: solid;
  --mixin-3ukB9qUD-PGN_border-right-width: 1px;
  --mixin-3ukB9qUD-PGN_border-top-color: #dddddd;
  --mixin-3ukB9qUD-PGN_border-top-style: solid;
  --mixin-3ukB9qUD-PGN_border-top-width: 1px;
  --mixin-3ukB9qUD-PGN_border-bottom-left-radius: 3px;
  --mixin-3ukB9qUD-PGN_border-bottom-right-radius: 3px;
  --mixin-3ukB9qUD-PGN_border-top-left-radius: 3px;
  --mixin-3ukB9qUD-PGN_border-top-right-radius: 3px;
  --mixin-3ukB9qUD-PGN_font-family: "Inconsolata";
  --mixin-3ukB9qUD-PGN_padding-bottom: 1px;
  --mixin-3ukB9qUD-PGN_padding-left: 4px;
  --mixin-3ukB9qUD-PGN_padding-right: 4px;
  --mixin-3ukB9qUD-PGN_padding-top: 1px;
  --mixin-3ukB9qUD-PGN_white-space: pre-wrap;
  --mixin-C8Zoft9zig4G_border-left-color: #dddddd;
  --mixin-C8Zoft9zig4G_border-left-style: solid;
  --mixin-C8Zoft9zig4G_border-left-width: 3px;
  --mixin-C8Zoft9zig4G_color: #888888;
  --mixin-C8Zoft9zig4G_padding-left: 10px;
  --mixin-C8Zoft9zig4G_white-space: pre-wrap;
  --mixin-mYnuiJW8cplo_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mYnuiJW8cplo_border-bottom-color: #dddddd;
  --mixin-mYnuiJW8cplo_border-bottom-style: solid;
  --mixin-mYnuiJW8cplo_border-bottom-width: 1px;
  --mixin-mYnuiJW8cplo_border-left-color: #dddddd;
  --mixin-mYnuiJW8cplo_border-left-style: solid;
  --mixin-mYnuiJW8cplo_border-left-width: 1px;
  --mixin-mYnuiJW8cplo_border-right-color: #dddddd;
  --mixin-mYnuiJW8cplo_border-right-style: solid;
  --mixin-mYnuiJW8cplo_border-right-width: 1px;
  --mixin-mYnuiJW8cplo_border-top-color: #dddddd;
  --mixin-mYnuiJW8cplo_border-top-style: solid;
  --mixin-mYnuiJW8cplo_border-top-width: 1px;
  --mixin-mYnuiJW8cplo_border-bottom-left-radius: 3px;
  --mixin-mYnuiJW8cplo_border-bottom-right-radius: 3px;
  --mixin-mYnuiJW8cplo_border-top-left-radius: 3px;
  --mixin-mYnuiJW8cplo_border-top-right-radius: 3px;
  --mixin-mYnuiJW8cplo_font-family: "Inconsolata";
  --mixin-mYnuiJW8cplo_padding-bottom: 3px;
  --mixin-mYnuiJW8cplo_padding-left: 6px;
  --mixin-mYnuiJW8cplo_padding-right: 6px;
  --mixin-mYnuiJW8cplo_padding-top: 3px;
  --mixin-mYnuiJW8cplo_white-space: pre-wrap;
  --mixin-x8ifarQKa44N_display: flex;
  --mixin-x8ifarQKa44N_flex-direction: column;
  --mixin-x8ifarQKa44N_align-items: stretch;
  --mixin-x8ifarQKa44N_justify-content: flex-start;
  --mixin-x8ifarQKa44N_list-style-position: outside;
  --mixin-x8ifarQKa44N_padding-left: 40px;
  --mixin-x8ifarQKa44N_position: relative;
  --mixin-x8ifarQKa44N_list-style-type: disc;
  --mixin-x8ifarQKa44N_white-space: pre-wrap;
  --mixin--0Dl4k9d1UmB_display: flex;
  --mixin--0Dl4k9d1UmB_flex-direction: column;
  --mixin--0Dl4k9d1UmB_align-items: stretch;
  --mixin--0Dl4k9d1UmB_justify-content: flex-start;
  --mixin--0Dl4k9d1UmB_list-style-position: outside;
  --mixin--0Dl4k9d1UmB_padding-left: 40px;
  --mixin--0Dl4k9d1UmB_position: relative;
  --mixin--0Dl4k9d1UmB_list-style-type: decimal;
  --mixin--0Dl4k9d1UmB_white-space: pre-wrap;
  --mixin-4jy-wdZ3sfu1_color: #000000;
  --mixin-4jy-wdZ3sfu1_font-size: 20px;
  --mixin-4jy-wdZ3sfu1_font-weight: 600;
  --mixin-4jy-wdZ3sfu1_line-height: 1.5;
  --mixin-4jy-wdZ3sfu1_white-space: pre-wrap;
  --mixin-tnOzlykDWxJ3_color: #000000;
  --mixin-tnOzlykDWxJ3_font-size: 16px;
  --mixin-tnOzlykDWxJ3_font-weight: 600;
  --mixin-tnOzlykDWxJ3_line-height: 1.5;
  --mixin-tnOzlykDWxJ3_white-space: pre-wrap;
  --mixin-wXvrRYq-QAxl_color: #3291ff;
  --mixin-wXvrRYq-QAxl_white-space: pre-wrap;
  --mixin-P0otXBd0cgFc_white-space: pre-wrap;
  --mixin-XJgVO-VxjA0z_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-j1XuSdUpn2DB_white-space: pre-wrap;
  --plasmic-mixin-navbar_white-space: var(--mixin-j1XuSdUpn2DB_white-space);
  --mixin-ofeNkMbygswL_white-space: pre-wrap;
  --plasmic-mixin-color_white-space: var(--mixin-ofeNkMbygswL_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-VUZuIOXtuPQY_font-family);
  font-size: var(--mixin-VUZuIOXtuPQY_font-size);
  font-weight: var(--mixin-VUZuIOXtuPQY_font-weight);
  font-style: var(--mixin-VUZuIOXtuPQY_font-style);
  color: var(--mixin-VUZuIOXtuPQY_color);
  text-align: var(--mixin-VUZuIOXtuPQY_text-align);
  text-transform: var(--mixin-VUZuIOXtuPQY_text-transform);
  line-height: var(--mixin-VUZuIOXtuPQY_line-height);
  letter-spacing: var(--mixin-VUZuIOXtuPQY_letter-spacing);
  white-space: var(--mixin-VUZuIOXtuPQY_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-caD7klFRTpaa_color);
  font-weight: var(--mixin-caD7klFRTpaa_font-weight);
  font-size: var(--mixin-caD7klFRTpaa_font-size);
  line-height: var(--mixin-caD7klFRTpaa_line-height);
  letter-spacing: var(--mixin-caD7klFRTpaa_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-7fJcmkWhR_pr_color);
  font-size: var(--mixin-7fJcmkWhR_pr_font-size);
  font-weight: var(--mixin-7fJcmkWhR_pr_font-weight);
  letter-spacing: var(--mixin-7fJcmkWhR_pr_letter-spacing);
  line-height: var(--mixin-7fJcmkWhR_pr_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-07p_uWZU9mU6_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-v0qVdwHzZ9pL_color);
  font-size: var(--mixin-v0qVdwHzZ9pL_font-size);
  font-weight: var(--mixin-v0qVdwHzZ9pL_font-weight);
  line-height: var(--mixin-v0qVdwHzZ9pL_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-6vv_LhhZ1Qg3_color);
  font-size: var(--mixin-6vv_LhhZ1Qg3_font-size);
  font-weight: var(--mixin-6vv_LhhZ1Qg3_font-weight);
  line-height: var(--mixin-6vv_LhhZ1Qg3_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-3ukB9qUD-PGN_font-family);
  border-radius: var(--mixin-3ukB9qUD-PGN_border-top-left-radius)
    var(--mixin-3ukB9qUD-PGN_border-top-right-radius)
    var(--mixin-3ukB9qUD-PGN_border-bottom-right-radius)
    var(--mixin-3ukB9qUD-PGN_border-bottom-left-radius);
  padding: var(--mixin-3ukB9qUD-PGN_padding-top)
    var(--mixin-3ukB9qUD-PGN_padding-right)
    var(--mixin-3ukB9qUD-PGN_padding-bottom)
    var(--mixin-3ukB9qUD-PGN_padding-left);
  border-top: var(--mixin-3ukB9qUD-PGN_border-top-width)
    var(--mixin-3ukB9qUD-PGN_border-top-style)
    var(--mixin-3ukB9qUD-PGN_border-top-color);
  border-right: var(--mixin-3ukB9qUD-PGN_border-right-width)
    var(--mixin-3ukB9qUD-PGN_border-right-style)
    var(--mixin-3ukB9qUD-PGN_border-right-color);
  border-bottom: var(--mixin-3ukB9qUD-PGN_border-bottom-width)
    var(--mixin-3ukB9qUD-PGN_border-bottom-style)
    var(--mixin-3ukB9qUD-PGN_border-bottom-color);
  border-left: var(--mixin-3ukB9qUD-PGN_border-left-width)
    var(--mixin-3ukB9qUD-PGN_border-left-style)
    var(--mixin-3ukB9qUD-PGN_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-C8Zoft9zig4G_color);
  padding-left: var(--mixin-C8Zoft9zig4G_padding-left);
  border-left: var(--mixin-C8Zoft9zig4G_border-left-width)
    var(--mixin-C8Zoft9zig4G_border-left-style)
    var(--mixin-C8Zoft9zig4G_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mYnuiJW8cplo_font-family);
  border-radius: var(--mixin-mYnuiJW8cplo_border-top-left-radius)
    var(--mixin-mYnuiJW8cplo_border-top-right-radius)
    var(--mixin-mYnuiJW8cplo_border-bottom-right-radius)
    var(--mixin-mYnuiJW8cplo_border-bottom-left-radius);
  padding: var(--mixin-mYnuiJW8cplo_padding-top)
    var(--mixin-mYnuiJW8cplo_padding-right)
    var(--mixin-mYnuiJW8cplo_padding-bottom)
    var(--mixin-mYnuiJW8cplo_padding-left);
  border-top: var(--mixin-mYnuiJW8cplo_border-top-width)
    var(--mixin-mYnuiJW8cplo_border-top-style)
    var(--mixin-mYnuiJW8cplo_border-top-color);
  border-right: var(--mixin-mYnuiJW8cplo_border-right-width)
    var(--mixin-mYnuiJW8cplo_border-right-style)
    var(--mixin-mYnuiJW8cplo_border-right-color);
  border-bottom: var(--mixin-mYnuiJW8cplo_border-bottom-width)
    var(--mixin-mYnuiJW8cplo_border-bottom-style)
    var(--mixin-mYnuiJW8cplo_border-bottom-color);
  border-left: var(--mixin-mYnuiJW8cplo_border-left-width)
    var(--mixin-mYnuiJW8cplo_border-left-style)
    var(--mixin-mYnuiJW8cplo_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-x8ifarQKa44N_display);
  flex-direction: var(--mixin-x8ifarQKa44N_flex-direction);
  align-items: var(--mixin-x8ifarQKa44N_align-items);
  justify-content: var(--mixin-x8ifarQKa44N_justify-content);
  list-style-position: var(--mixin-x8ifarQKa44N_list-style-position);
  padding-left: var(--mixin-x8ifarQKa44N_padding-left);
  position: var(--mixin-x8ifarQKa44N_position);
  list-style-type: var(--mixin-x8ifarQKa44N_list-style-type);
  flex-column-gap: var(--mixin-x8ifarQKa44N_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--0Dl4k9d1UmB_display);
  flex-direction: var(--mixin--0Dl4k9d1UmB_flex-direction);
  align-items: var(--mixin--0Dl4k9d1UmB_align-items);
  justify-content: var(--mixin--0Dl4k9d1UmB_justify-content);
  list-style-position: var(--mixin--0Dl4k9d1UmB_list-style-position);
  padding-left: var(--mixin--0Dl4k9d1UmB_padding-left);
  position: var(--mixin--0Dl4k9d1UmB_position);
  list-style-type: var(--mixin--0Dl4k9d1UmB_list-style-type);
  flex-column-gap: var(--mixin--0Dl4k9d1UmB_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-4jy-wdZ3sfu1_color);
  font-size: var(--mixin-4jy-wdZ3sfu1_font-size);
  font-weight: var(--mixin-4jy-wdZ3sfu1_font-weight);
  line-height: var(--mixin-4jy-wdZ3sfu1_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-tnOzlykDWxJ3_color);
  font-size: var(--mixin-tnOzlykDWxJ3_font-size);
  font-weight: var(--mixin-tnOzlykDWxJ3_font-weight);
  line-height: var(--mixin-tnOzlykDWxJ3_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-wXvrRYq-QAxl_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
