.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: var(--token-uLPkj8KQCden);
  min-width: 0;
  padding: 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.rootisSignUpFlow {
  height: 710px;
  margin-top: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__wf3Di {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 385px;
  height: 52px;
  max-width: 100%;
  background: var(--token-Boa9WlBpRY0X);
  margin-top: calc(14px + 16px) !important;
  flex-shrink: 0;
  padding: 8px;
}
.img__cNiOc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  flex-shrink: 0;
}
.img__cNiOc > picture > img {
  object-fit: cover;
}
.freeBox__aeChg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__nCsVg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 60px 14px 60px 25px;
}
.freeBox__kjZlK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxisSignUpFlow__kjZlKy2RSz {
  display: none;
}
.freeBox__zJ7Cf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 385px;
  height: 52px;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: calc(14px + 16px) !important;
  flex-shrink: 0;
  padding: 8px;
}
.img___6Koqm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  flex-shrink: 0;
}
.img___6Koqm > picture > img {
  object-fit: cover;
}
.text__ljrlj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-cIuIPC3wHcAQ);
  min-width: 0;
  padding: 60px 14px 60px 25px;
}
.freeBox__kLj3O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 385px;
  height: 52px;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: calc(14px + 16px) !important;
  flex-shrink: 0;
  padding: 0px;
}
.img__nzhX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  flex-shrink: 0;
  margin: 0px;
}
.img__nzhX > picture > img {
  object-fit: cover;
}
.text__gE7T7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-cIuIPC3wHcAQ);
  position: relative;
  min-width: 0;
  padding: 60px 14px 60px 10px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  padding: 8px;
}
.formField___8UyQ4:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___4KCOy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__kVtgG:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__rtExe:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
}
.numberInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__ddXtC:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__ri9Zb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 325px;
}
.text__b0Cz0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__txwq {
  position: relative;
  width: 325px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  display: none;
}
.textisSignUpFlow__txwqY2RSz {
  display: block;
}
.freeBox__r8JGi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wscQ {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__nUapI {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  padding-top: 12px;
  min-width: 0;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 325px;
  margin-top: 0px;
  height: 40px;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.svg__mof1Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__k2Map {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 325px;
  margin: 0px;
}
.svg__yMbrB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__onAhb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__q6Smn {
  width: 325px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 10px;
  color: #7b7b8c;
  margin-top: 0px;
  position: relative;
}
.textisSignUpFlow__q6Smny2RSz {
  display: none;
}
.freeBox__rXoSx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.radio:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  width: 325px;
  align-self: center;
  cursor: pointer;
  color: #7b7b8c;
  margin-bottom: 20px;
}
.radioisSignUpFlow:global(.__wab_instance) {
  display: none;
}
.text__iw2U3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  position: relative;
  min-width: 0;
}
.button__i0MTq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 325px;
}
.svg__a6JxJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gpSuW {
  padding-top: 0px;
  font-weight: 700;
}
.svg__pjOhz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__i6KRr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 325px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBoxisSignUpFlow__i6KRrY2RSz {
  width: 430px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 0px 0px 0px 80px;
}
.text__pU3Sn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #7b7b8c;
  min-width: 0;
}
.textisSignUpFlow__pU3SnY2RSz {
  text-align: right;
  margin: 0px;
}
.text__aUkMa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token--ypw6enySR1T);
  cursor: pointer;
  min-width: 0;
}
.textisSignUpFlow__aUkMaY2RSz {
  text-align: left;
  cursor: pointer;
}
